<!-- start custom footer snippets -->

<div class="page__footer-stackexchange ">
  <li>
    <a href="https://stackexchange.com/users/9042085/dennis-soemers" itemprop="image" rel="nofollow noopener noreferrer"> 
	  <img src="https://stackexchange.com/users/flair/9042085.png" width="208" height="58" alt="profile for Dennis Soemers on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for Dennis Soemers on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
	</a>
  </li>
</div>

<!-- end custom footer snippets -->