<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">Contact me by Email</a></li>
		  {% if site.linkedin_username %}
		  <li>
			<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
				<i class="fa fa-linkedin"></i> LinkedIn
			</a>
		  </li>
		  {% endif %}
		
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
		  
		  <li>
			<a href="https://scholar.google.com/citations?user=DennisSoemers">
				<i class="ai ai-google-scholar"></i> Google Scholar
			</a>
		  </li>
		  
		  <li>
			<a href="https://www.researchgate.net/profile/Dennis_Soemers">
				<i class="ai ai-researchgate"></i> ResearchGate
			</a>
		  </li>
        </ul>
      </div>
	  
	  <div class="footer-col footer-col-2">	  
		<a href="https://stackexchange.com/users/9042085/dennis-soemers">
			My StackExchange profile:
			<img src="https://stackexchange.com/users/flair/9042085.png" width="208" height="58" 
				alt="profile for Dennis Soemers on Stack Exchange, a network of free, community-driven Q&amp;A sites" 
				title="profile for Dennis Soemers on Stack Exchange, a network of free, community-driven Q&amp;A sites" />
		</a>
      </div>

      <div class="footer-col footer-col-3">	  
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
